.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(226, 228, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s;
}

.container{
    width: 50vw;
    background-color: rgb(245, 247, 248);
    display: flex;
    justify-content: space-between;
    transition: background-color 0.4s, color 0.4s;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    color: rgb(23, 76, 114);
}

.left img{
    width: 180px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid rgb(23, 76, 114);
    padding: 2px;
}

.middle{
    padding: 10px;
}

.read_more{
    background-color: rgb(23, 76, 114);
    color: rgb(245, 247, 248);
    border-radius: 3px;
    border: none;
    padding: 5px;
    transition: background-color 0.4s, color 0.4s;
}

.switch {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 45px;
  height: 20px;
}

input#theme {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgb(23, 76, 114);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 5px; bottom: 3px;
  background-color: rgb(245, 247, 248);
  transition: 0.4s;
  border-radius: 50%;
}

#theme:checked + .switch .slider::before {
  transform: translateX(20px);
  background-color: rgb(23, 76, 114);
}

#theme:checked + .switch .slider {
  background-color: rgb(245, 247, 248);
}

.container:has(#theme:checked) {
    background-color: rgb(23, 76, 114);
    color: rgb(245, 247, 248);
}

.container:has(#theme:checked) .middle h2,
.container:has(#theme:checked) .middle h3,
.container:has(#theme:checked) .middle p {
    color: rgb(245, 247, 248);
}

.container:has(#theme:checked) .read_more {
    background-color: rgb(245, 247, 248);
    color: rgb(23, 76, 114);
}

.background:has(.container #theme:checked) {
    background-color: rgb(23, 76, 114);
}

@media (max-width: 1024px) {
    .container {
        width: 70vw;
        flex-direction: column;
        align-items: center;
    }

    .left img {
        width: 150px;
        height: 170px;
    }

    .switch {
        top: 10px;
        right: 10px;
    }
}

@media (max-width: 600px) {
    .container {
        width: 90vw;
        flex-direction: column;
    }

    .left img {
        width: 120px;
        height: 140px;
    }

    .middle {
        text-align: center;
    }

    .read_more {
        padding: 3px 5px;
    }
}
